<div class="">
    <h1 class="m-5 text-center" >Your data is in the best of hands ;)</h1>
    <aaas-appkey-select></aaas-appkey-select>
    <div class="home-grid">
            <div class="p-0 border bg-light">
                <p class="fs-2 p-2 bg-primary text-white text-center">do amazing analytics</p>
                <div class="d-flex justify-content-center p-2">
                    <img src="../../../assets/metrics.PNG" width="95%" heigth="95%"/>
                </div>
            </div>
            <div class="p-0 border bg-light">
                <p class="fs-2 p-2 bg-primary text-white text-center">filter through logs</p>
                <div class="d-flex justify-content-center p-2">
                    <img src="../../../assets/logs.PNG" width="95%" heigth="95%"/>
                </div>
            </div>
            <div class="p-0 border bg-light">
                <p class="fs-2 p-2 bg-primary text-white text-center">view your detectors</p>
                <div class="d-flex justify-content-center p-2">
                    <img src="../../../assets/detectors.PNG" width="95%" heigth="95%"/>
                </div>
            </div>
            <div class="p-0 border bg-light">
                <p class="fs-2 p-2 bg-primary text-white text-center">edit and create detectors</p>
                <div class="d-flex justify-content-center p-2">
                    <img src="../../../assets/detectorEdit.PNG" width="95%" heigth="95%"/>
                </div>
            </div>
        </div>
    
</div>
