<div *ngIf="detector" class="container">
    
    <div class="d-flex flex-column border mt-5 bg-light p-3">
        <div class="d-flex my-1 align-items-center justify-content-center">
            <div class="fs-2">
               Detector {{ " " + detector.telemetricName }}
            </div>
            <!-- detector activation status (togglable) -->
            <div *ngIf="detector.enabled && !updating" class="fs-2 btn btn-success mx-4 " (click)="disableDetector()">
                Enabled
            </div>
            <div *ngIf="!detector.enabled && !updating" class="fs-2 btn btn-danger mx-4 " (click)="enableDetector()">
                Disabled
            </div>
            <dx-toast [(visible)]="isToastVisible" [type]="toastType">
            <div *dxTemplate="let data of 'content'">
                <div class="fs-2 text-center"> {{toastMessage}}</div>
            </div>
            </dx-toast>
            <aaas-loading [visible]="updating"></aaas-loading>
            <!-- detector activation status (togglable) -->
        </div>
        <div class="p-0 m-2 border bg-white">
            <p class="fs-3 bg-primary text-white py-1 px-3">General Settings</p>
            <!-- general detector details -->
            <div class="p-2">
                <p>
                    Observes metrics of type '{{detector.telemetricName}}' and detects anomalies
                </p>
                <p>
                    Triggers every {{detector.executionInterval | intervalToReadableTime}}
                </p>
            </div>
        </div>
        <!-- general detector details -->            
        <div class="columns-2">
            <!-- detector type specific details -->
            <div class="p-0 m-2 border bg-white" [ngSwitch]="detector.type">
                <p class="fs-3 bg-primary text-white py-1 px-3">{{ detector.type }}</p>
                <div class="p-2">
                    <aaas-min-max-detector-details
                    [detector]="detector" 
                    *ngSwitchCase="detectorTypes[0]"></aaas-min-max-detector-details>
                    <aaas-sliding-window-detector-details
                    [detector]="detector"
                    *ngSwitchCase="detectorTypes[1]"></aaas-sliding-window-detector-details>
                </div>
            </div>
            <!-- detector type specific details -->
            
            <!-- action type specific details -->
            <div class="p-0 m-2 border bg-white" [ngSwitch]="detector.action!.type">
                <p class="fs-3 bg-primary text-white py-1 px-3">{{ detector.action!.type }}</p>
                <div class="p-2">
                    <aaas-web-hook-action-details
                    [detector]="detector"
                    *ngSwitchCase="actionTypes[0]"></aaas-web-hook-action-details>
                    <aaas-mail-action-details 
                    [detector]="detector"
                    *ngSwitchCase="actionTypes[1]"></aaas-mail-action-details>
                </div>
                
            </div>
            <!-- action type specific details -->
        </div>

        <!-- options -->
        <div>
            <a class="btn btn-primary m-1" [routerLink]="['/detectors']">
                Back
            </a>
            <a class="btn btn-primary m-1" [routerLink]="['/detectors/form', detector.id]">
                Edit
            </a>
            <aaas-detector-deletion [detectorId]="detector?.id"></aaas-detector-deletion>
        </div>
        <!-- options -->
    </div>
</div>
<!-- erorr handling -->
<aaas-item-not-found [visible]="!detector" [destination]="'/detectors'"></aaas-item-not-found>
<!-- erorr handling -->