<div *ngIf="detector" class="container">
    <div class="d-flex my-2 py-3 align-items-center space">
        <div class="fs-2">
           Detector {{ " " + detector.telemetricName }}
        </div>
            <!-- detector activation status (togglable) -->
            <div *ngIf="detector.enabled && !updating" class="fs-2 btn btn-success  mx-4 " (click)="disableDetector()">
                Enabled
            </div>
            <div *ngIf="!detector.enabled && !updating" class="fs-2 btn btn-danger  mx-4 " (click)="enableDetector()">
                Disabled
            </div>
            <dx-toast [(visible)]="isToastVisible" [type]="toastType">
                <div *dxTemplate="let data of 'content'">
                    <div class="fs-2 text-center"> {{toastMessage}}</div>
                </div>
            </dx-toast>
            <aaas-loading [visible]="updating"></aaas-loading>
            <!-- detector activation status (togglable) -->
        
    </div>
    <div class="d-flex flex-column">
        <!-- general detector details -->
        <div class="fs-4">
            General Settings:
            <div class="fs-4">
                Created for {{detector.appKey}}
            </div>
            <div class="fs-4">
                Observes metrics of type '{{detector.telemetricName}}' and detects anomalies.
            </div>
            <div class="fs-4">
                Triggers every {{detector.executionInterval | intervalToReadableTime}}
            </div>
        </div>
        <!-- general detector details -->
        <div>
            Configuration:
            <!-- detector type specific details -->
            <div>
                Detector Parameters:
            </div>
            <div [ngSwitch]="detector.type">
                <div>
                    <aaas-min-max-detector-details
                        [detector]="detector" 
                        *ngSwitchCase="detectorTypes[0]"></aaas-min-max-detector-details>
                    <aaas-sliding-window-detector-details
                        [detector]="detector"
                        *ngSwitchCase="detectorTypes[1]"></aaas-sliding-window-detector-details>
                </div>
            </div>
            <!-- detector type specific details -->

            <!-- action type specific details -->
            <div>
                Action Parameters:
            </div>
            <div [ngSwitch]="detector.action!.type">
                <div>
                    <aaas-web-hook-action-details
                        [detector]="detector"
                        *ngSwitchCase="actionTypes[0]"></aaas-web-hook-action-details>
                    <aaas-mail-action-details 
                        [detector]="detector"
                        *ngSwitchCase="actionTypes[1]"></aaas-mail-action-details>
                </div>
            </div>
            <!-- action type specific details -->
        </div>
        <!-- options -->
        <div>
            <a class="btn btn-primary m-1" [routerLink]="['/detectors']">
                Back
            </a>
            <a class="btn btn-primary m-1" [routerLink]="['/detectors/form', detector.id]">
                Edit
            </a>
            <aaas-detector-deletion [detectorId]="detector?.id"></aaas-detector-deletion>
        </div>
        <!-- options -->
    </div>
</div>
<!-- erorr handling -->
<aaas-item-not-found [visible]="!detector" [destination]="'/detectors'"></aaas-item-not-found>
<!-- erorr handling -->