<div *ngIf="detector" class="container">
    <div class="d-flex flex-column">
        <!-- general detector details -->
        <div class="d-flex flex-row">
            <div>
                Detector {{detector.id}} ({{detector.type}})
            </div>
            <!-- detector activation status (togglable) -->
            <div *ngIf="detector.enabled && !updating" class="fs-2 btn btn-success" (click)="disableDetector()">
                Enabled
            </div>
            <div *ngIf="!detector.enabled && !updating" class="fs-2 btn btn-danger" (click)="enableDetector()">
                Disabled
            </div>
            <dx-toast [(visible)]="isToastVisible" [type]="toastType">
                <div *dxTemplate="let data of 'content'">
                    <div class="fs-2 text-center"> {{toastMessage}}</div>
                </div>
            </dx-toast>
            <div *ngIf="updating" class="d-flex">
                <div class="spinner-border text-primary" role="status">
                </div>
                <div class="fs-2">
                    Loading...
                </div>
            </div>
            <!-- detector activation status (togglable) -->
        </div>
        <div>
            Created for {{detector.appKey}}
        </div>
        <div>
            Observes anomialies in Metric of Type '{{detector.telemetricName}}'
        </div>
        <div>
            Triggers every {{detector.executionInterval | intervalToReadableTime}}
        </div>
        <!-- general detector details -->
        <div>
            Configuration:
            <!-- detector type specific details -->
            <div>
                Detector Parameters:
            </div>
            <div [ngSwitch]="detector.type">
                <div>
                    <aaas-min-max-detector-details *ngSwitchCase="detectorTypes[0]"></aaas-min-max-detector-details>
                    <aaas-sliding-window-detector-details *ngSwitchCase="detectorTypes[1]"></aaas-sliding-window-detector-details>
                </div>
            </div>
            <!-- detector type specific details -->

            <!-- action type specific details -->
            <div>
                Action Parameters:
            </div>
            <div [ngSwitch]="detector.action?.type">
                <div>
                    <aaas-web-hook-action-details *ngSwitchCase="actionTypes[0]"></aaas-web-hook-action-details>
                    <aaas-mail-action-details *ngSwitchCase="actionTypes[1]"></aaas-mail-action-details>
                </div>
            </div>
            <!-- action type specific details -->
        </div>
        <!-- options -->
        <div>
            <a class="btn btn-primary" [routerLink]="['/detectors']">
                Back
            </a>
            <a class="btn btn-primary" [routerLink]="['/detectors/form', detector.id]">
                Edit
            </a>
            <aaas-detector-deletion [detectorId]="detector?.id"></aaas-detector-deletion>
        </div>
        <!-- options -->
    </div>
</div>
<!-- erorr handling -->
<aaas-item-not-found [visible]="!detector" [destination]="'/detectors'"></aaas-item-not-found>
<!-- erorr handling -->