<div *ngIf="!popupVisible" class="btn btn-danger m-1" (click)="popupVisible = true;">
    Delete
</div>
<div *ngIf="popupVisible">
    <div class="p-2">
        Are you sure?
    </div>
    <div class="btn btn-danger m-1" (click)="deleteDetector()">
        Dew it!
    </div>
    <div class="btn btn-success m-1" (click)="popupVisible = false;">
        NO!
    </div>
</div>
<dx-toast [(visible)]="deletionError" [type]="'error'">
    <div *dxTemplate="let data of 'content'">
        <div class="fs-2 text-center">Error deleting detector!</div>
    </div>
</dx-toast>
