
<dx-text-box [(value)]="currentAppKey"></dx-text-box>
<a (click)="checkAppKey()" class="btn btn-success">Update Key</a>
<div *ngIf="invalidKey" class="text-danger">Invalid Key</div>
<img *ngIf="invalidKey" src="../../../assets/docleave-dcleave.gif" height="100" width="100"/>
<div *ngIf="!invalidKey && !enterAppKeyPrompt" class="text-success">Valid Key</div>
<img *ngIf="!invalidKey && !enterAppKeyPrompt" src="../../../assets/poggers-emote.png" height="100" width="100"/>
<div *ngIf="enterAppKeyPrompt">Enter Key</div>
<img *ngIf="enterAppKeyPrompt" src="../../../assets/waiting.PNG" height="100" width="100"/>
