<!-- expanding button -->
<div>
  <dx-check-box 
    class="p-3"
    [value]="false"
    text="Expand All Groups"
    [disabled]="!groupingEnabled"
    (onValueChanged)="updateExpansion($event)"></dx-check-box>
  <dx-check-box
    class="p-3"
    [value]="true"
    text="Group Logs"
    (onValueChanged)="updateGrouping($event)"></dx-check-box>
  <!-- expanding button -->

  <!-- log list template -->
  <dx-data-grid
    id="gridContainer"
    [dataSource]="displayData"
    [allowColumnReordering]="false"
    [rowAlternationEnabled]="true"
    [wordWrapEnabled]="true"
    [showBorders]="true">
    [columnAutoWidth]="true"
    
    <!-- general grid settings -->
    <dxo-paging [pageSize]="30"></dxo-paging>
    <dxo-pager
      visible="true"
      [showInfo]="true"
      displayMode="full"
    ></dxo-pager>
    <dxo-grouping [autoExpandAll]="isExpanded ?? false"></dxo-grouping>
    <!-- general grid settings -->
    
    <!-- grid column data -->
    <dxi-column dataField="clientId" [groupIndex]="clientIdGrouping"
      [sortingMethod]="sortClientIdByLastDigits"></dxi-column>
    <dxi-column dataField="category" [groupIndex]="categoryGrouping"></dxi-column>
    <dxi-column dataField="name" [groupIndex]="nameGrouping"></dxi-column>
    <dxi-column
      dataField="timestamp"
      caption="Timestamp" 
      [calculateCellValue]="calculateTimestampValue"
      [sortingMethod]="sortStringsConsideringDate"> <!-- enables sorting -->
      <!-- 
        <div *dxTemplate="let data of 'timestamp'">  
          {{data.data.timestamp | date:'medium'}}  
        </div>  
      -->  
    </dxi-column>
    <!-- grid column data -->

    <dxi-column dataField="message" caption="Message"></dxi-column>
  </dx-data-grid>
  <!-- log list template -->

</div>