<aaas-item-not-found *ngIf="errorOccurred && isUpdatingDetector"></aaas-item-not-found>

<div *ngIf="!errorOccurred" class="container">
    <h1 *ngIf="isUpdatingDetector" class="m-5">Edit Detector</h1>
    <h1 *ngIf="!isUpdatingDetector" class="m-5">Add Detector</h1>
    <form 
        class="bg-light p-5 border"
        *ngIf="formInitialized"
        [formGroup]="detectorForm"
        (ngSubmit)="submitForm()">
        <div class="row">
            <!-- general properties of detector -->
            <div class="col">
                <h3>General Settings:</h3>
                <div class="form-group p-2">
                    <label for="appKey-input">AppKey</label>
                    <input 
                        type="text"
                        id="appKey-input"
                        class="form-control"
                        name="appKey" formControlName="appKey" readonly/>
                    <div *ngIf="errors['appKey']" class="form-text text-danger">
                        {{ errors['appKey'] }}
                    </div>
                </div>

                <!-- execution interval -->
                <div class="form-group p-2 row">
                    <!-- hours -->
                    <label for="executionInterval-input" class=" mb-1">Execution Interval</label>
                    <div class="col">
                        <label for="executionInterval-input1">Hours</label>
                        <input
                            min="0" max="10"
                            type="number"
                            id="executionInterval-input1"
                            class="form-control" 
                            name="executionInterval1" 
                            formControlName="executionInterval1"/>
                        <div *ngIf="errors['executionInterval1']" class="form-text text-danger">
                            {{ errors['executionInterval1'] }}
                        </div>
                    </div>
                    <!-- hours -->
                    
                    <!-- minutes -->
                    <div class="col">
                        <label for="executionInterval-input2">Minutes</label>
                        <input
                            min="0"
                            max="59"
                            type="number"
                            id="executionInterval-input2"
                            class="form-control" 
                            name="executionInterval2" 
                            formControlName="executionInterval2"/>
                        <div *ngIf="errors['executionInterval2']" class="form-text text-danger">
                            {{ errors['executionInterval2'] }}
                        </div>
                    </div>
                    <!-- minutes -->
                    
                    <!-- seconds -->
                    <div class="col">
                        <label for="executionInterval-input3">Seconds</label>
                        <input
                            min="0"
                            max="59"
                            type="number"
                            id="executionInterval-input3"
                            class="form-control" 
                            name="executionInterval3" 
                            formControlName="executionInterval3"/>
                        <div *ngIf="errors['executionInterval3']" class="form-text text-danger">
                            {{ errors['executionInterval3'] }}
                        </div>
                    </div>
                    <!-- seconds -->

                    <!-- custom validator -->
                    <div *ngIf="errors['executionInterval']" class="form-text text-danger">
                        {{ errors['executionInterval'] }}
                    </div>
                    <!-- custom validator -->
                </div>
                <!-- execution interval -->
                
                <!-- telemetric name -->
                <div *ngIf="!isUpdatingDetector" class="form-group p-2">
                    <label for="telemetricName-input">Telemetric Name</label>
                    <input 
                        type="text"
                        id="telemetricName-input"
                        class="form-control"
                        formControlName="telemetricName"/>
                    <div *ngIf="errors['telemetricName']" class="form-text text-danger">
                        {{ errors['telemetricName'] }}
                    </div>
                </div>

                <div *ngIf="isUpdatingDetector" class="form-group p-2">
                    <label for="telemetricName-input">Telemetric Name</label>
                    <input 
                        type="text"
                        id="telemetricName-input"
                        class="form-control"
                        formControlName="telemetricName" readonly/>
                    <div *ngIf="errors['telemetricName']" class="form-text text-danger">
                        {{ errors['telemetricName'] }}
                    </div>
                </div>
                <!-- telemetric name -->

                <!-- detector type -->
                <div *ngIf="!isUpdatingDetector" class="form-group p-2">
                    <label for="type-input">Detector Type</label>
                    <select id="type-input" class="form-select" formControlName="type" >
                        <option *ngFor="let curr of detectorTypes" value={{curr}}>{{curr}}</option>
                    </select>
                    <div *ngIf="errors['type']" class="form-text text-danger">
                        {{ errors['type'] }}
                    </div>
                </div>
                <!-- detector type -->
                
                <!-- action type -->
                <div *ngIf="!isUpdatingDetector" class="form-group p-2">
                    <label for="actionType-input">Action Type</label>
                    <select id="actionType-input" class="form-select" formControlName="actionType">
                        <option *ngFor="let curr of actionTypes" value={{curr}}>{{curr}}</option>
                    </select>
                    <div *ngIf="errors['actionType']" class="form-text text-danger">
                        {{ errors['actionType'] }}
                    </div>
                </div>
                <!-- action type -->
            </div>
            <!-- general properties of detector -->
            
            <!-- variable settings - depend on type selection -->
            <div *ngIf="formInitialized" class="col border p-3">
                <!-- detector type specific settings -->
                <h3>Condition Settings:</h3>
                <p>Determines when a detector triggers an action</p>
                <aaas-min-max-detector-form
                    [detectorForm]="detectorForm"
                    [errors]="errors"></aaas-min-max-detector-form>
                <aaas-sliding-window-detector-form 
                    [detectorForm]="detectorForm"
                    [errors]="errors"></aaas-sliding-window-detector-form>
                <!-- detector type specific settings -->
                
                <!-- action type specific settings -->
                <h3>Action Settings:</h3>
                <p>Determines what the action should perform</p>
                <aaas-web-hook-action-form
                    [detectorForm]="detectorForm"
                    [errors]="errors"></aaas-web-hook-action-form>
                <aaas-mail-action-form
                        [detectorForm]="detectorForm"
                        [errors]="errors"></aaas-mail-action-form>
                <!-- action type specific settings -->
            </div>
            <!-- variable settings - depend on type selection -->
            
        </div>
        <!-- buttons -->         
        <button type="submit" class="btn btn-success m-1" [disabled]="detectorForm.invalid">Send</button>
        <a class="btn btn-primary m-1" [routerLink]="'/detectors'">Cancel</a>
        <aaas-detector-deletion [detectorId]="detector.id" *ngIf="isUpdatingDetector"></aaas-detector-deletion>
        <!-- detector already exists -->
        <div *ngIf="alreadyExists">
            <h2 class="fs-4">A detector for {{detectorForm.value.telemetricName}} already exists!</h2>
            <a type="submit" class="btn btn-primary" [routerLink]="['/detector/', foundDetectorId]">Go to detector</a>
        </div>
        <!-- detector already exists -->
        <!-- buttons -->
    </form>
    
    <!-- error when sending -->
    <div *ngIf="sendingFailed">
        <h2 class="text-danger">Could not send data.</h2>
    </div>
    <!-- error when sending -->
    

</div>