<div *ngIf="isActive" [formGroup]="detectorForm">
    <p>Triggers a webhook with detailed information about the anomaly</p>
    <div class="form-group p-2">
        <label for="httpAddress-input">Http Address</label>
        <input 
            #min
            type="text"
            id="httpAddress-input"
            class="form-control"
            name="httpAddress" formControlName="httpAddress"/>
        <div *ngIf="errors['httpAddress']" class="form-text text-danger">
            {{ errors['httpAddress'] }}
        </div>
    </div>
</div>