<div [formGroup]="detectorForm">
    <p>Triggers action when more than specified metrics (outliers) are outside of the specified interval</p>
    <div class="form-group">
        <label for="minValue-input">Minimum Value</label>
        <input 
            #min
            type="number"
            id="minValue-input"
            class="form-control"
            name="minValue" formControlName="minValue"/>
        <div *ngIf="errors['minValue']" class="form-text text-danger">
            {{ errors['minValue'] }}
        </div>
    </div>
    <div class="form-group">
        <label for="maxValue-input">Maximum Value</label>
        <input 
            #max
            type="number"
            id="maxValue-input"
            class="form-control"
            name="maxValue" formControlName="maxValue"/>
        <div *ngIf="errors['maxValue']" class="form-text text-danger">
            {{ errors['maxValue'] }}
        </div>
    </div>
    <div class="form-group">
        <label for="outlierCount-input">Outlier Count</label>
        <input 
            #outliers
            type="number"
            id="outlierCount-input"
            class="form-control"
            name="outlierCount" formControlName="outlierCount"/>
        <div *ngIf="errors['outlierCount']" class="form-text text-danger">
            {{ errors['outlierCount'] }}
        </div>
    </div>
</div>